option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snippod_starter_demo_app_server.settings.prod"
    SECRET_KEY: "YOUR_SECRET_KEY"
    AWS_ACCESS_KEY_ID: "YOUR_AWS_ACCESS_KEY_ID"
    AWS_SECRET_ACCESS_KEY: "YOUR_AWS_SECRET_ACCESS_KEY"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: snippod_starter_demo_app_server/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"


