container_commands:
  00_packages:
    command: "pip install -r requirements/common.txt && pip install -r requirements/prod.txt"

  10_migrate:
    command: "python manage.py migrate"
    leader_only: true

  20_chown_db:
    command: "chown wsgi:wsgi db.sqlite3"

  30_createsu:
    command: "python manage.py createsu"
    leader_only: true

  40_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  91_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
