option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "snippod_starter_demo_app_server.settings.prod"
    SECRET_KEY: "YOUR_SECRET_KEY"
    AWS_ACCESS_KEY_ID: "YOUR_AWS_ACCESS_KEY_ID"
    AWS_SECRET_ACCESS_KEY: "YOUR_AWS_SECRET_ACCESS_KEY"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: snippod_starter_demo_app_server/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"


container_commands:
  00_packages:
    command: "pip install -r requirements/common.txt && pip install -r requirements/prod.txt"

  10_makemigrations:
    command: "python manage.py makemigrations"
    leader_only: true

  20_migrate:
    command: "python manage.py migrate auth"
    leader_only: true

  21_migrate:
    command: "python manage.py migrate"
    leader_only: true

  30_createsu:
    command: "python manage.py createsu"
    leader_only: true

  40_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  91_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"

  92_chown_log_dir:
    command: "chown -R wsgi:wsgi ./logs"
